body {
margin: 0;
}
 
.wrapper {
     
    width: 80%;
    margin: auto;
}

.logo  {
    display:inline-block;
    margin-right: 63%;
    padding: 40px 0;
    font-family: 'PT Serif', serif;

}
.menu {
    display:inline-block;
    display: flex;
    align-items: center;
}

.menu__item {
    padding: 0 8px;
    font-family: 'Roboto', sans-serif;
}

.menu__item:last-child {
    padding: 0%;
}

.header {
    display: flex;
    justify-content: space-between;
}


.title {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
}

.content {
font-family: 'Roboto', sans-serif;
}

.button {
font-family: 'Roboto', sans-serif;
color: #FFFFFF;
}body {
    margin: 0;
    }
     
    .wrapper {
         
        width: 80%;
        margin: auto;
    }
    
    .logo  {
        display:inline-block;
        margin-right: 63%;
        padding: 40px 0;
        font-family: 'PT Serif', serif;
    
    }
    .menu {
        display:inline-block;
        display: flex;
        align-items: center;
    }
    
    .menu__item {
        padding: 0 8px;
        font-family: 'Roboto', sans-serif;
    }
    
    .menu__item:last-child {
        padding: 0%;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
    }
    
    
    .title {
        font-family: PT Serif;
        font-style: normal;
        font-weight: bold;
    }
    
    .content {
    font-family: 'Roboto', sans-serif;
    }
    
    .button {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    }