body {
    margin: 0px
 }

.wrapper {
width: 80%;
margin: auto;
}

.logo  {
display:inline-block;
margin-right: 63%;
padding: 40px 0;
}

.menu {
display:inline-block;
display: flex;
align-items: center;
}

.menu__item {
padding: 0 13px;
}

.menu__item:last-child {
padding: 0%;
}

.header {
display: flex;
justify-content: space-between;
}

.title {
font-family: Roboto  ;
font-style: normal;
font-weight: bold;
}

.p {
font-family: Roboto;
font-style: normal;
}

.button {
font-family: Roboto;
font-style: normal;
color: #FFFFFF; 
}